*.mod
*.o 
*.lo
*.Plo
*.la
*.a
.dirstamp
m4
aclocal.m4
ar-lib
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile.in
Makefile
.gitignore
.gitignore
test-driver
autom4te.cache/*
build
missing
src/create_crystal
src/ptgbcyl
src/printpotentials
src/dummy
