*.mod
*.o 
*.lo
*.Plo
*.la
*.a
.dirstamp
m4
aclocal.m4
ar-lib
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile.in
Makefile
.gitignore
.gitignore
test-driver
autom4te.cache/*
build
missing
src/create_crystal
src/ptgbcyl
src/printpotentials
src/dummy
examples/*/restart-*.json
examples/*/output-*.json
examples/LJ_and_GB_in_R7/ljgbr7-*.json
examples/LJ_and_GB_in_R7/geometry.json
examples/LJ_and_GB_in_R7/temperatures.json
